services:
  xadrez:
    build: .
    volumes:
      - ./src:/app/src
    stdin_open: true
    tty: true
    command: sh -c "javac -d bin $(find src -name '*.java') && java -cp bin application.Program"
